<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ingrees internal</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<style>
	body {
		background-color: lightgray;
		margin-top: 50px;
	}
	
	form {
		background-color: white;
	}
	
	hr {
		background-color: lightgray;
	}
	
	.head {
		background-color: white;
	}
	
	.files input {
		outline: 2px dashed #92b0b3;
		outline-offset: -10px;
		-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		transition: outline-offset .15s ease-in-out, background-color .15s linear;
		padding: 120px 0px 85px 35%;
		text-align: center !important;
		margin: 0;
		width: 100% !important;
	}
	
	.files input:focus {
		outline: 2px dashed #92b0b3;
		outline-offset: -10px;
		-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		transition: outline-offset .15s ease-in-out, background-color .15s linear;
		border: 1px solid #92b0b3;
	}
	
	.files {
		position: relative
	}
	
	.files:after {
		pointer-events: none;
		position: absolute;
		top: 60px;
		left: 0;
		width: 50px;
		right: 0;
		height: 56px;
		content: "";
		background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
		display: block;
		margin: 0 auto;
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	.color input {
		background-color: #f1f1f1;
	}
	
	.files:before {
		position: absolute;
		bottom: 10px;
		left: 0;
		pointer-events: none;
		width: 100%;
		right: 0;
		height: 57px;
		content: " or drag it here. ";
		display: block;
		margin: 0 auto;
		color: #2ea591;
		font-weight: 600;
		text-transform: capitalize;
		text-align: center;
	}
	
	.color input {
		background-color: #f2f8fb;
	}
	</style>
</head>

<body>
	<div class="container">
		<div class="head">
			<h3 style="margin-left: 20px; margin-bottom: 1px;">Resume</h3> </div>
		<form>
			<div class="form-row" style="margin-left: 20px;">
				<div class="form-group col-md-6">
					<label for="" style="font-weight: bold; color: #0275d8">MY ENCLOSUERS</label>
					<div style="background-color: #f2f8fb; height: 50px; width:auto;"> <i class="far fa-file-alt" style="margin-left: 20px;margin-top: 15px;color: #0275d8">    &nbsp;Carla-CV.pdf</i> </div>
				</div>
				<div class="form-group col-md-5">
					<label for="" style="font-weight: bold; color: #0275d8">My Links</label>
					<br />
					<label for="" style="font-weight: bold; color: #0275d8"><i class="fab fa-linkedin" style="color: #0275d8"></i>&nbsp;  Linked IN</label>
					<div style="background-color: #f2f8fb; height: 30px;">
						<input type="text" class="form-control" value="https://www.linkedin.com" /> </div>
				</div>
				<div class="form-group col-md-8 d-inline">
					<label for="Build" style="font-weight: bold;">Build Your Resume</label>
					<button type="submit" class="btn btn-primary">Create CV</button>
				</div>
				<div class="form-group col-md-6 d-inline-block">
					<hr class="col-md-3 d-inline-block" /> OR
					<hr class="col-md-3 d-inline-block" /> </div>
				<div class="form-group col-md-5">
					<label for="" style="font-weight: bold; color: #0275d8"><i class="fas fa-code-branch"></i> GIT</label>
					<div style="background-color: #f2f8fb; height: 30px;">
						<input type="text" class="form-control" value="https://www.git.com" /> </div>
				</div>
				<div class="form-group col-md-6">
					<label for="" style="font-weight: bold;">1.Dowanload template</label>
					<br /> <a href="#"><i class="fas fa-file-download" style="margin-left: 20px;color: #0275d8"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resume template</a> </div>
				<div class="form-group col-md-5">
					<label for="" style="font-weight: bold; color: #0275d8"><i class="fas fa-link"></i> Other links</label>
					<div style="background-color: #f2f8fb; height: 30px;">
						<input type="text" class="form-control" value="https://www.myweb.com" /> </div>
				</div>
				<div class="form-group col-md-6">
					<label for="" style="font-weight: bold;">2.Upload Resume</label>
					<br />
					<button type="file" class="file btn btn-outline-primary" style="margin-left: 20px;">Choose file</button>
				</div>
			</div>
			<div class="form-group col-md-6">
				<hr /> </div>
			<div class="col-md-6">
				<div class="form-group files color">
					<input type="file" id="input-file-max-fs" class="file-upload" multiple="" /> </div>
				<br />
				<br /> </div>
			<br />
			<button type="submit" class="btn btn-primary float-right">Save</button>
		</form>
	</div> @RenderBody()
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script> @RenderSection("Scripts", required: false) </body>

</html>